{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 10, "knowledge_revision": 19, "git_revision": "f7165615d6351cee10ed9d2c913c13c666a98ca8", "hash": "5bddfc81c81a62715ce15265cea7b56a", "format-version": 4, "code-base-name": "default", "filename": "auth_backend_service_container/requirements.txt", "revision_history": [{"19": "f7165615d6351cee10ed9d2c913c13c666a98ca8"}]}